body {
    font: var(--font-main);
    /* Жирный шрифт */
    font-weight: bold;
}

h1 {
    font: var(--font-h1);
    /* Жирный шрифт */
    font-weight: bold;
}

h2 {
    font: var(--font-h2);
     font-weight: bold;
}

h3 {
    font: var(--font-h3);
    /* Жирный шрифт */
    font-weight: bold;
}


