{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Range</title>
    <style>
   body {
    background-image: url({% static "range/fone2.jpg"%}); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }
  </style>
</head>
<body>
    <center>
    <h1>Sweets from Mis Ryth - выпечка с душой.><br>
    Большой ассортимент тортов, пряников, <br>
    капкейков и других сладостей на ваш вкус.<br>
    </h1>
        <div class="image">
        <img alt="logo" src="{% static 'range/logo.jpg' %}"/>
        </div>
    </center>
</body>
</html>
