{% extends "base.html" %}
{% load static %}
{% block page_title %}Main{% endblock %}
{% block block_title %}Justcakes{% endblock %}
{% block content %}
    <center>
    <h3>Cakes from Miss Ryzh - выпечка с душой.<br>
    Большой ассортимент тортов, пряников, <br>
    капкейков и других сладостей на ваш вкус.<br>
    </h3>
    </center>
<div class="row">
{% for cake in cake_index %}
    <div class="col-md-4">
        <div class="card mb-2" style="width: 20rem; display:inline-block; margin-right: 30px;
    margin-top: 30px; position: relative;">
            <div class="card-body">

                <img class="card-img-top" src={{  cake.image }} alt="">
                <h5 class="card-title">{{ cake.title }}</h5>
                <p class="card-text">{{ cake.prices }}</p>
                <p class="card-text">{{ cake.description }}</p>
                <a href="{% url 'cake_detail' cake.url cake.pk %}"
                   class="btn btn-primary">
                    Узнать больше
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}
