{% extends "base.html" %}
{% load static %}
{% block title %}Main{% endblock %}
{% block page_title %}Justcakes{% endblock %}
{% block content %}
    <center>
    <h2>Sweets from Mis Ryzh - выпечка с душой.<br>
    Большой ассортимент тортов, пряников, <br>
    капкейков и других сладостей на ваш вкус.<br>
    </h2>
    </center>
<div class="row">
{% for cake in cake_index %}
    <div class="col-md-4">
        <div class="card mb-2" style="width: 20rem; display:inline-block; margin-right: 30px;
    margin-top: 30px; position: relative;">
            <img class="card-img-top" src="{% static cake.image %}"/>
            <div class="card-body">
                <h5 class="card-title">{{ cake.title }}</h5>
                <p class="card-text">{{ cake.prices }}</p>
                <p class="card-text">{{ cake.description }}</p>
                <p class="card-text">{{ cake.image }}</p>
                <a> <p class="btn btn-primary">
                    Узнать больше
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}
